
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    width: 100%;
}
#box{
    background-color: white;
    /* background-color: green; */
    width: 22%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    /* padding: */
    height: 70%;
    text-align: center;

    
}
#qr-box{
    /* background-color: blue; */
    height: 250px;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    
}

#qr-box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;


}

#content{
    /* background-color: brown; */
    margin-bottom: 20px;
    padding: 20px 20px;
}

#content h1{
    font-size: 24px;

}

#content p{
    font-size: 15px;
    margin-top: 10px;
}